
@{
    ViewBag.Title = "Index";
}
<h1></h1>
<h1></h1>
<div class="container">
    <div class="square" style="background-color:forestgreen;margin-right: 50px;">
        <div class="content">
            <div>2</div>
            <div style="font-size:15px">Total Clients</div>
        </div>
    </div>
    <div class="square" style="background-color:orangered">
        <div class="content">
            <div>2</div>
            <div style="font-size:15px">Total Money owed</div>
        </div>
    </div>
    <div class="square" style="background-color:brown;margin-left: 50px;">
        <div class="content">
            <div>2</div>
            <div style="font-size:15px">non-business customers</div>
        </div>
    </div>
    <div class="square" style="background-color:saddlebrown">
        <div class="content">
            <div>2</div>
            <div style="font-size:15px">Business customers</div>
        </div>
    </div>
</div>