

<div ng-app="myApp" ng-controller="formCtrl">
    <form>
        First Name: <input type="text" ng-model="firstname">
        Last Name: <input type="text" ng-model="lastname">
        address: <input type="text" ng-model="address">
    </form>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('formCtrl', function($scope) {
    
});
</script>